<%= render('welcome/system_status') %>
<div class="row">
  <div class="col-sm-8 welcome-content">
    <%= render partial: 'shared/search', locals: {
        :search_url => "/search",
        :title => t('archive._plural'),
        :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource']
            ],
        :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
            ]
    } %>
   	<%= t('brand.welcome_message').html_safe %>
   	<%= t('brand.welcome_search_tips').html_safe %>
  </div>
  <div class="col-sm-4 welcome-carousel">
    <%= render partial:'carousel' %>
  </div>
</div>
